@page "/counter"

<ListarPeliculas Titulo="Peliculas Ramdom" Peliculas="ObtenerPeliculasRamdom()"></ListarPeliculas>

<p>Inserte una Pelicula</p>
<TextoAtributos ></TextoAtributos>

@code
{
    private List<Pelicula> ObtenerPeliculasRamdom()
    {
        return new List<Pelicula>()
        {
                new Pelicula()
                {
                    Titulo = "Demon Slayer - Tren del Infinito",
                    FechaLanzamiento = new DateTime(2018, 10, 31)
                },
                new Pelicula()
                {
                    Titulo = "Titanic",
                    FechaLanzamiento = new DateTime(2021, 10, 31)
                },
                new Pelicula()
                {
                    Titulo = "Mentiras Verdaderas",
                    FechaLanzamiento = new DateTime(2022, 10, 31)
                },
                new Pelicula()
                {
                    Titulo = "SpiderMan 3",
                    FechaLanzamiento = new DateTime(2022, 10, 31)
                }
        };
    }
}