@inject IJSRuntime js

<div style="display: flex; flex-wrap; align-items: center;">
    <ListadoGenerico Listado="Peliculas">
        <HayRegistros>
            <PeliculaIndividual Pelicula="context" EliminarPeliculaCallBack="MostrarMensajeEnConsola"></PeliculaIndividual>
        </HayRegistros>
    </ListadoGenerico>
</div>

@code
{
    [Parameter]
    public List<Pelicula> Peliculas { set; get; }

    async Task MostrarMensajeEnConsola(Pelicula pelicula)
    {
        var confirmar = await js.Confirm($"Desea borrar la pelicula {pelicula.Titulo}?");

        if (confirmar)
        {
            Peliculas.Remove(pelicula);
        }
    }
}

