@inject IJSRuntime js

<div>

    @if (Peliculas != null && Peliculas.Count > 0)
    {
        <input type="checkbox" @bind="MostrarBotoles" />
    }

    <ListadoGenerico Listado="Peliculas">
        <HayRegistros>
            <PeliculaIndividual Pelicula="context"
                                MostrarBotones="MostrarBotoles"
                                EliminarPeliculaCallBack="MostrarMensajeEnConsola">
            </PeliculaIndividual>
        </HayRegistros>
    </ListadoGenerico>

    <ModalMensaje @ref="modal" Encavezado="Confirmar" Confirmar="BorrarPeliculaConfirmacion" Cancelar="CancelarConfirmacion">
        <div>Desea borrar la pelicula ?</div>
    </ModalMensaje>

</div>

@code
{
    ModalMensaje modal;

    [Parameter]
    public string Titulo { set; get; }

    [Parameter]
    public List<Pelicula> Peliculas { set; get; }

    bool MostrarBotoles = true;
    Pelicula peliculaBorrar;


    void MostrarMensajeEnConsola(Pelicula pelicula)
    {
        modal.Mostrar();
        peliculaBorrar = pelicula;
    }

    void BorrarPeliculaConfirmacion()
    {
        Peliculas.Remove(peliculaBorrar);
        modal.Ocultar();
        peliculaBorrar = null;
    }

    void CancelarConfirmacion()
    {
        modal.Ocultar();
        peliculaBorrar = null;
    }
}

