@inject IJSRuntime js

<div>

    @if (Peliculas != null && Peliculas.Count > 0)
    {
        <input type="checkbox" @bind="MostrarBotoles" />
    }

    <ListadoGenerico Listado="Peliculas">
        <HayRegistros>
            <PeliculaIndividual Pelicula="context"
                                MostrarBotones="MostrarBotoles"
                                EliminarPeliculaCallBack="MostrarMensajeEnConsola">
            </PeliculaIndividual>
        </HayRegistros>
    </ListadoGenerico>

</div>

@code
{
    [Parameter]
    public string Titulo { set; get; }

    [Parameter]
    public List<Pelicula> Peliculas { set; get; }

    bool MostrarBotoles = true;

    async Task MostrarMensajeEnConsola(Pelicula pelicula)
    {
        var aceptar = await js.Confirm($"Esta seguro borrar la pelicula { pelicula.Titulo } ?");
       
        if (aceptar)
        {
            Peliculas.Remove(pelicula);
            Console.WriteLine("Se ha borrado la pelicula " + pelicula.Titulo); 
        }
    }
}

