@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            <CascadingValue Value="@app.Color">
                <CascadingValue Value="@app.Tamanio">
                    @Body
                </CascadingValue>         
            </CascadingValue>
        </div>
    </div>
</div>

@code
{
    AppEstado app = new AppEstado();

    public class AppEstado
    {
        public string Color { set; get; } = "Red";
        public string Tamanio { set; get; } = "12px";
    }
}
